img{
    margin: 0 10px 0 0;
}

.card{
    width: 360px;
    height: 357px;
    object-fit: contain;
    background-color: #f9f4ea;
}

.details{
    width: 360px;
    background-color: #f9f4ea;
    text-align: center;
}

.restaurant{
    height: 47px;
    font-size: 40px;
    margin: 28px 0 0 0;
}
.chef{
  height: 29px;
  font-size: 25px;
  font-weight: 100;
  margin: 0 0 0 0;
}
