<div ngClass.lt-md="mobile" ngClass.gt-sm="desktop">
    <div class="card" (click)='openDialog()' style="display: inline-block;" *ngIf='restaurant'>
        <img src={{img_src}} alt="">
        <div class="details">
            <p class="restaurant">{{restaurant}}</p>
            <p *ngIf='chef' class="chef">{{chef}}</p>
        </div>
        <div *ngIf='price' class="priceContent">
            <img src={{icon}} alt="">
            <div class="price">
                <div class="line"></div>
                <p style=" font-size: 24.9px; font-weight: 100;">{{price}}₪</p>
                <div class="line"></div>
            </div>
        </div>
    </div>
    <img *ngIf='!restaurant' src={{img_src}} alt="">
</div>