.desktop{
    .card{
        width: 360px;
        background-color: #f9f4ea;
    }
    
    .card:hover{
        cursor: pointer;
      }
      
    .details{
        background-color: #f9f4ea;
        text-align: center;
    }
    
    .restaurant{
        font-size: 40px;
        height: 47px;
        margin:25px 0 0 0 ;
    }
    .chef{
      font-size: 25px;
      font-weight: 100;
      height: 70px;
      margin:30px 0 0 0;
    }
    
    .line{
         width: 112px;
      height: 1px;
      border: solid 0.5px #979797;
      margin: 0px 10px;
     }
    
    .priceContent{
        display: flex;
        flex-direction: column;
        background-color: #f9f4ea;
        height: 110px;
       justify-content: flex-end;
        
    }
    .price{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}




.mobile{
    .card{
    width: 100%;
    background-color: #f9f4ea;
    img{
        width: 100%;
    }
}

.card:hover{
    cursor: pointer;
  }
  
.details{
    background-color: #f9f4ea;
    text-align: center;
}

.restaurant{
    font-size: 27.6px;
    height: 40px;
    margin:25px 0 0 0 ;
}
.chef{
    font-size: 17.3px;
    font-weight: 100;
  height: 70px;
  margin:30px 0 0 0;
}

.line{
  width: 76px;
  height: 1px;
  border: solid 0.5px #979797;
  margin: 0px 10px;
 }

.priceContent{
    display: flex;
    flex-direction: column;
    background-color: #f9f4ea;
    height: 60px;
    margin-top: 20px;
   justify-content: flex-end;
    
}
.price{
    display: flex;
    justify-content: center;
    align-items: center;
}

}

