<div ngClass.lt-md="mobile" ngClass.gt-sm="desktop">
    <div class="wrapper">
        <div fxHide.gt-sm>
            <img src="assets/group-13.svg">
        </div>
        <img src="assets/logo.jpg" srcset="assets/logo@2x.jpg 2x,assets/logo@3x.jpg 3x" class="Logo">
        <span class="epicure" fxHide.lt-md>EPICURE</span>
        <span class="Restaurants" fxHide.lt-md>Restaurants</span>
        <span class="Chefs" fxHide.lt-md>Chefs</span>
        <input fxHide.fxLayout.lt-md class="Search-Field" id="search" name="search" type="text"
            placeholder="Search for restaurants cuisine, chef">
        <div class="icons">
            <img src="assets/search-icon.svg" alt="" fxHide.gt-md>
            <img src="assets/user-icon.svg" class="User-icon">
            <img src="assets/bag-icon.svg" class="Bag-icon">
        </div>
    </div>

</div>