@import '../../../assets/base.styles.scss';
.desktop{
  .wrapper{
    width: 100%;
    height: 53px;
    padding: 14px 123px 5px;
    display: flex;
    justify-content: space-around;

    .icons{
      display: flex;
      align-items: center;
    }
    
}

.Logo {
    height: 33px;
    margin: 0 0 1px 0;
  }

.epicure {
    height: 32px;
    margin: 6px 31px 1px 15px;
    font-size: 27px;
    font-weight: 100;
}

.Restaurants {
  @extend %lightFont;
    height: 21px;
    margin: 7px 28px 6px 0px;
    font-size: 18px;
   ;
  }

  .Chefs {
    height: 21px;
    margin: 7px 292px 6px 0;
    font-size: 18px;
    @extend %lightFont;
  }

  input[type="text"] {
    min-width: 362px;
    height: 34px;
    margin: 0;
    padding: 7px 13px 5px 16px;
    object-fit: contain;
    border-radius: 4px;
    border: solid 0.5px gray;
    background-color: rgba(255, 255, 255, 0.11);
  }

  input::placeholder{
    width: 301px;
    height: 21px;
    margin: 0 63px 1px 0;
    opacity: 0.8;
    font-size: 18px;
    @extend %lightFont;
  }

  input#search{
    background: url('../../../assets/search-icon.svg');
      background-size:22px 22px;
      background-position: 97%;
      background-repeat: no-repeat;
      text-indent: 20px;
  }
  input#search:focus {
    background-image:none;
    text-indent: 0;
    }
  
  .User-icon {
    height: 23px;
    margin: 7px 28px 4px;
    object-fit: contain;
  }

  .Bag-icon {
    height: 22px;
    margin: 7px 0 5px 0px;
    object-fit: contain;
  }

}

  .mobile{
    .wrapper{
      width: 100%;
      height: 53px;
      padding: 0 20px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .icons{
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
  }
  
  .Logo {
      height: 33px;
      margin: 0 0 1px 0;
    }
  
  .epicure {
      height: 32px;
      margin: 6px 31px 1px 15px;
      font-size: 27px;
      font-weight: 100;
  }
  
  .Restaurants {
    @extend %lightFont;
      height: 21px;
      margin: 7px 28px 6px 0px;
      font-size: 18px;
     ;
    }
  
    .Chefs {
      height: 21px;
      margin: 7px 292px 6px 0;
      font-size: 18px;
      @extend %lightFont;
    }
  
  
  
    input{
      display: none;
    }
  
  
    .Bag-icon {
      height: 22px;
      margin: 7px 0 5px 0px;
      object-fit: contain;
    }
  
  }
