.wrapper{
    width: 1440px;
  height: 696px;
  margin: 9px 0 140px;
  padding: 111px 329px 240px 175px;
  box-sizing: border-box;
  background: url('../../../assets/hero-picture.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica Neue";
}

.content{
    width: 781px;
    height: 222px;
    margin: 123px 0 0 155px;
    padding: 41px 134px 42px 136px;
    background-color: rgba(255, 255, 255, 0.88);
}

.description{
    width: 437px;
  height: 73px;
  margin: 0 36px 18px 38px;
  font-size: 35px;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
}

.Search-Field {
    width: 511px;
    height: 48px;
    margin: 18px 0 0;
    padding: 9px 73px 8px 20px;
    object-fit: contain;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.88);
    border: solid 0.6px black;
}

input::placeholder{
    width: 367px;
    height: 26px;
    margin: 2px 0 3px 20px;
    opacity: 0.53;
    font-size: 22px;
    font-weight: 100;
    letter-spacing: 1.57px;
    text-align: center;
    color: var(--black);
}

