.desktop{
  .wrapper{
    margin-top: 100px;
    text-align: center;
}

.chef-week{
  height: 37px;
  font-size: 30px;
  font-weight: 100;
}

.content{
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-around;
}

.description{
    width: 47%;
    height: 292px;
    font-size: 25px;
    font-weight: 100;
    margin-top: 0;
    text-align: left;
    margin-right: 10px;
    line-height: 1.2;
}

.name{
  height: 78px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
   display: flex;
  align-items: center;
  justify-content: center;
}

.chefs-restaurant{
  height: 30px;
  font-size: 30px;
  font-weight: 100;
  margin: 59px 0 20px 0;
}
.cards{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
}

.card{
  margin: 0 10px
}

.pic{
  background: url('../../../assets/untitled-1.jpg');
  width: 338px;
  position: relative;
  
  }
}


.mobile{
  .wrapper{
    margin-top: 100px;
    text-align: center;
}

.chef-week{
  height: 17px;
  font-size: 14px;
  font-weight: 100;
}

.content{
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;

  .pic{
    background: url('../../../assets/untitled-1.jpg');
    position: relative;
    height: 240px;
    width: 90%;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    }

}

.description{
    width: 80%;
    height: 180px;
    font-size: 13.5px;
    font-weight: 300;
    margin-top: 20px;
    text-align: center;
    margin-right: 10px;
    line-height: 1.2;
}

.name{
  height: 78px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
   display: flex;
  align-items: center;
  justify-content: center;
}

.chefs-restaurant{
  height: 30px;
  font-size: 30px;
  font-weight: 100;
  margin: 59px 0 20px 0;
}
.cards{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
}

.card{
  display: flex;
  flex-direction: column;
  margin: 0 0 0 15px;
  width: 80%;
}


}
