.wrapper{
    margin-top: 100px;
    text-align: center;
}

.chef-week{
  height: 37px;
  font-size: 30px;
  font-weight: 100;
}

.content{
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-around;
}

.description{
    width: 47%;
    height: 292px;
    font-size: 25px;
    font-weight: 100;
    margin-top: 0;
    text-align: left;
    margin-right: 10px;
    line-height: 1.2;
}

.name{
  height: 78px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
   display: flex;
  align-items: center;
  justify-content: center;
}


.restaurants{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 100%;
  margin-left: 5%;
}

.chefs-restaurant{
  height: 30px;
  font-size: 30px;
  font-weight: 100;
}
.cards{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
}

.card{
  margin: 0 10px
}

.pic{
  background: url('../../../assets/untitled-1.jpg');
  width: 338px;
  position: relative;
}