<div ngClass.lt-md="mobile" ngClass.gt-sm="desktop">

    <div class="wrapper">
        <img class="img" src={{data.img_src}} alt="">
        <div class="content">
            <div class="head">
                <div class="title" mat-dialog-title>{{data.dish_name}}</div>
                <div class="description" mat-dialog-content>{{data.description}}</div>
                <div class="price">
                    <div class="line"></div>
                    <p style=" font-size: 24.9px; font-weight: 100;">{{data.price}}₪</p>
                    <div class="line"></div>
                </div>
            </div>
            <div class="side-dish">
                <p class="side-title">Choose a side</p>
                <mat-radio-button class="example-margin" value="after">White Bread</mat-radio-button> <br>
                <mat-radio-button class="example-margin" value="after">Sticky Rice</mat-radio-button>
            </div>
            <div class="side-dish">
                <p class="side-title">Changes</p>
                <mat-checkbox class="example-margin">Without Peanuts</mat-checkbox>
                <mat-checkbox class="example-margin">Less Spicy</mat-checkbox>
            </div>
            <p style="margin: 70px 0 0 0;" class="side-title">Quantity</p>
            <div class="quantity">
                <p (click)='decrement()' class="action">-</p>
                <p>{{quantity}}</p>
                <img (click)="increment()" class="action" src="assets/plus.svg" alt="">
            </div>
        </div>
        <button id="button" mat-button mat-dialog-close>ADD TO BAG </button>
    </div>
</div>