@import '../../../assets/base.styles.scss';

.desktop{
  .wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content{
      text-align: center;
      margin: 0 160px;
      width: 80%;
    }
  
  app-card{
    @extend %backgroundColor;
      height: 100%;
  }
  .cards{
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  .all-restaurants{
    height: 35px;
    font-size: 30px;
    margin-top: 31px;
    text-align: right;
    margin-right: 1.6%;
  }
  
  .signature-dish{
    width: 100%;
    height: 30px;
    font-size: 30px;
    font-weight: 100;
    margin-top: 100px;
    margin-bottom: 42px;
    text-align: center;
  }
  
  .card{
    display: flex;
    flex-direction: column;
  }
  
  .title{
   @include baseTitle(35px)
  }
  
  app-icon-meaning{
    width: 100%;
  }
}

// ------------- Mobile --------------------

.mobile{
  .wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content{
      text-align: center;
      margin: 0 160px;
      width: 80%;
    }
  
  app-card{
    
      height: 100%;
  }
  .cards{
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  .all-restaurants{
    height: 35px;
    font-size: 30px;
    margin-top: 31px;
    text-align: right;
    margin-right: 1.6%;
  }
  
  .signature-dish{
    height: 30px;
    font-size: 30px;
    font-weight: 100;
    margin-top: 100px;
    margin-bottom: 42px;
    text-align: center;
  }
  
  .card{
    display: flex;
    flex-direction: column;
  }
  
  .title{
    margin-bottom: 23px;
    margin-right: 5%;
    height: 35px;
    font-size: 30px;
    font-weight: 900;
  }
  
  app-icon-meaning{
    width: 100%;
  }
}
