.wrapper{
    background-color: #fafafa;
    height: 265px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title{
    height: 35px;
  margin: 0 0 24px;
  font-size: 30px;
  font-weight: 100;
  text-align: center;
}

.icons{
    display: flex;
    width: 100%;
    justify-content: center;
}

.icons-title{
    width: 100%;
    justify-content: center;
    font-size: 25.2px;
    font-weight: 100;
}
.icon{
    margin: 0 104px;
}

.icon-name{
    margin: 30px 34px 0 53px;
}