<div ngClass.lt-md="mobile" ngClass.gt-sm="desktop">
    <div class="wrapper">
        <p class="title">THE MEANING OF OUR ICONS :</p>
        <div class="icons">
            <div class="icon">
                <img src="assets/spicy-icon.svg" alt="">
                <p class="icon-name"> Spicy</p>
            </div>
            <div class="icon">
                <img class="icon" src="assets/vegetarian.svg" alt="">
                <p class="icon-name">Vegitarian</p>
            </div>
            <div class="icon">
                <img src="assets/vegan-icon.svg" alt="">
                <p class="icon-name">Vegan</p>
            </div>
        </div>
    </div>
</div>