/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body {
     margin: 0;
     font-family: "Roboto";

}

* {
     box-sizing: border-box;
   }

   @font-face {
     font-family: "HelveticaNeue";
     src:  url('/src/assets/fonts/HelveticaNeue\ Thin.ttf') format("truetype");
 }